
@{
    ViewData["Title"] = "Createdashboard";
}

<h1>Createdashboard</h1>
<h4 class="text-right text-primary"><a asp-action="Logout" asp-controller="CookieSession">Logout</a></h4> 
<h4 class="text-right text-danger">Welcome @ViewBag.uname</h4>
<h4 class="text-right text-danger">your last login @ViewBag.lldt</h4>

